.background {
  width: 100%;
}

.flex-row {
  display: flex;
  margin-left: 200px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("../Assets/images/bg.jpg");
  background-size: cover;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

p {
  margin-top: 5px;
  color: #c2c2c2;
}

.title-group {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 500px;
}

.icon {
  color: white;
  padding-right: 15px;
}

.wrapper-col {
  display: flex;
  flex-direction: row;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(45deg, #c850c0, #ffcc70);
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.vertical-line {
  height: auto;
  margin-top: 18px;
  width: 3px;
  background-color: red;
  background-image: linear-gradient(#c850c0, #ffcc70);
}
