.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.content-group {
  margin-left: 15px;
}

@media screen and (min-width: 1100px) {
  .content-group {
    margin-left: 200px;
  }
}

.max-height {
  height: 100%;
}

.title-group {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 500px;
}

.icon {
  color: white;
  padding-right: 15px;
}
